

.mainLabel {
    font-size: x-large;
    font-weight: bold;
    width: 50%;
    margin: auto;
    text-align:center;
}

.leftSpace {
    margin-left: 120px;
}

.valError {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
.mainLeft {
    font-size: x-large;
    font-weight: bold;
    margin: auto;
    text-align: center;
}
h1 {
    content: "Grade Point Calculator";
    margin-bottom: 20px;
    background: rgba(204, 255, 204, .8);
    opacity: .80;
    text-align: center;
    border-radius: 10px;
}
.centerStuff {
    width: 50%;
    margin: auto;
    background: rgba(204, 255, 204, .8);
    text-align: center;
}
.centerTxtBox {
    width:100px;
    margin:auto;
    text-align:center;
}

.auto-style1 {
    width: 500px;
}

.container {
    text-align: center;
    background: rgba(204, 255, 204, .8);
    border-radius: 10px;
    min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
    display: block; /* Use flexbox to align content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

body {
    background-image: url('images/schoolbackgroundForLater.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image position */
    display: flex;
    justify-content: center;
    align-items: center;
}

#quizFieldsContainer,
#assignmentFieldsContainer,
#codeTestFieldsContainer,
#midtermTestFieldsContainer,
#finalTestFieldsContainer {
    display: flex;
    flex-direction: column; /* Display children vertically */
}

.modern-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .modern-list li {
        padding: 8px 15px; /* Adjusted padding */
        border-bottom: 1px solid black; /* Light gray border */
        transition: background-color 0.3s ease; /* Smooth background color transition */
        border-radius: 8px; /* Rounded corners */
    }

        .modern-list li:hover {
            background-color: #f9f9f9; /* Light gray background on hover */
        }